/*  font-family: 'Open Sans', sans-serif;
*/

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.wrapper {
    padding: 2em;
    display: flex;
    justify-content: center;
    border: .5em solid lightseagreen;
    background-color: lightcoral;
    min-height: 100vh;
}



